@import url('https://fonts.googleapis.com/css2?family=Helvetica:wght@400;700&display=swap');

:root{
    --font-stack: 'Helvetica', sans-serif;
    --font-main-color: #e4e4e3f8;
    --buttons-color: #1ED760;
    --main-element-background-color-dark: #292927;
    --main-element-background-color-light: #474747;
}
